#table1, #table2 {
width: 80%;
border: 2px solid black;
}
th, td {
border: 1px solid black;
}
#addCourse {
    padding-top: 20px;
    display: none;
}
#addStudent {
    padding-top: 20px;
    display: none;
}
